#youtube-videos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

#header-yt {
    height: 310px;
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url('img/banner.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}