* {
    margin: 0;
    padding: 0;
}
/*HEADER AND NAV*/
.nav {
    position: relative;
    z-index: 99;
}
.header, .header img {
    height: 100vh;
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url('./img/bg1.jpg');
    margin: 0;
    padding: 0;
}

.header h1 {
    margin: 0;
}

/*MAIN CONTENT*/
#black {
    background-color: rgb(26, 25, 25);
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;
}
#white {
    background-color: white;
    color: black;
    padding-top: 70px;
    padding-bottom: 70px;
}