.nav {
    width: 100%;
    display: block;
    position: fixed;
    top: 0;
    background-color: rgba(0,0,0,0);
    padding-top: 50px;
    padding-left: 300px;
}
.nav .home {
    float: left;
    padding-right: 10px;
}
.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}
.nav ul li {
    display: inline;
    padding: 10px;
    transition: ease-in-out all 800ms;
}
.nav ul li:hover {
    background-color: rgba(226, 226, 226, 0.3);
}

.nav a {
    color: white;
    text-decoration: none;

}