* {
    margin: 0;
    padding: 0;
}

.nav {
    position: relative;
    z-index: 99;
}

#header {
    height: 400px;
    width: 100%;
    position: relative;
    z-index: -1;
    background-image: url('./img/bgs/bg2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
}

.git-table {
    width: 100%;
    border-collapse: collapse;
}

.git-table td,
.git-projects th {
    border: 1px solid rgb(124, 122, 122);
    padding: 7px;
}

#git-table-own th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #fc773a;
    color: white;
}

#git-table-alda th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #1699cc;
    color: white;
}

.git-table tr:nth-child(even) {
    background-color: rgb(48, 46, 46);
}

.git-table tr:hover {
    background-color: #4c4c4c;
}

.git-table .td-middle {
    text-align: center;
}

.git-table .th-min {
    min-width: 90px;
}

.git-table a {
    color: white;
}

.programming-languages {
    display: flex;
    flex-wrap: wrap;
}

.programming-language-wrapper {
    display: inline-table;
    padding: 40px;
    text-align: center;
    transition: all ease-in-out 300ms;
}

.programming-language-wrapper:hover {
    background-color: rgba(0,0,0,0.1)
}

.programming-language-icon {
    display: block;
    height: 200px;
}

.programming-language-icon img {
    height: 200px;
    max-width: 200px;
}

.programming-language-text {
    display: block;
    font-family: 'Dosis', sans-serif;
    width: 200px;
    height: 60px;
    padding: 20px;
}