#wrap-this-shit {
    margin-top: 140px;
}
#setThisBg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

    background: linear-gradient(270deg, #ff8901, #da1c60);
    background-size: 400% 400%;
    
    -webkit-animation: bg-fader 10s ease infinite;
    -moz-animation: bg-fader 10s ease infinite;
    animation: bg-fader 10s ease infinite;
}

@-webkit-keyframes bg-fader {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@-moz-keyframes bg-fader {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}
@keyframes bg-fader {
    0%{background-position:94% 0%}
    50%{background-position:7% 100%}
    100%{background-position:94% 0%}
}