#wrap-this-shit {
    margin-top: 140px;
}
#setThisBg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

#contact-form {
    width: calc(100% - 200px);
    background-color: rgba(0,0,0,0.4);
    padding: 100px;
    height: 50vh;
}

#contact-form input {
    display: block;
    margin: 0;
    padding: 7px;
    background-color: rgba(0,0,0,0);
    border: none;
    font-family: 'Dosis', sans-serif;
    width: 90%;
    max-width: 300px;
    font-size: 16px;
    color: white;
    outline: none;
}

#inMsg {
    width: 90%;
    height: 30%;
    display: block;
    background-color: rgba(0,0,0,0);
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-top: 20px;
    padding: 7px;
    font-size: 16px;
    outline: none;
    resize: none;
}

#contact-form textarea:focus, input:focus {
    border-color: none !important;
}

#btnSub {
    background-color: rgba(0,0,0,0);
    color: white;
    font-size: 24px;
    margin-top: 20px;
    padding: 10px;
    width: 100px;
    text-align: center;
    border: 1px solid white;
    position: relative;
    overflow: hidden;;
}

#btnSub:hover {
    cursor: pointer;
}

#contact-form .line {
    display: block;
    border: 1px solid white;
    position: relative;
    width: 90%;
    max-width: 340px;
    margin-bottom: 40px;
}