@import url('https://fonts.googleapis.com/css?family=Raleway');

.wrapper-all {
    padding-top: 100px;
}

.flex {
    display: flex;
}
/*MAIN CONTENT*/
.inner-content {
    padding-top: 70px;
    padding-bottom: 70px;
}

.inner-content h2 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 5px;
    font-size: 27px;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.inner-content h3 {
    padding-top: 10px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    padding-bottom: 10px;
}

.inner-content a {
    text-decoration: underline;
}

.inner-content ul {
    padding-left: 20px;
    list-style: upper-roman;
}

.black {
    background-color: rgb(30, 30, 30);
    color: white;
}
.white {
    background-color: white;
    color: black;
}

.content-wrap-in {
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}

.inner-section {
    padding-bottom: 50px;
}